
body {
    background-image: url(../imagens/desenho-2-web3.png);
}

main {
    margin: auto;
    min-width: 300px;
    max-width: 1200px;
    border-radius: 10px;
}
img {
    display: block;
    padding: 10px;
    margin: auto;
}